*.csv
*.idea
*.ipynb_checkpoints
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
.installed.cfg
.mr.developer.cfg
.hg
.bzr
.svn
*.pyc
*.pyo
*.npy
*.tmp*
*.h5
*.hdf5
*.jpg
*.jpeg
*.png
venv
.idea
*.iml
test_json
tools/gen_dict_by_list.py
tools/merge_dd.py
download
env
conf_local.py
conf_local*.py
settings_local.py
